extends layout

block content
  .container
    .row
      .col-xs-12
        h1.logo script-writr
      .col-xs-12
        #editor
      .col-xs-12
        br
        hr
    .row
      .col-xs-4
        .table-responsive
          table.table.table-striped
            tbody
              tr
                td getLength
                td.getLength.success
      .col-xs-4
        .table-responsive
          table.table.table-striped
            tbody
              tr
                td getContents
                td.getContents.success
      .col-xs-4
        .table-responsive
          table.table.table-striped
            thead
              tr
                th getSelection
            tbody
              tr
                td range.start
                td.rangeStart.success
              tr
                td range.end
                td.rangeEnd.success

